{% extends '::base.html.twig' %}

{% block title %}LessonBundle:Feedback:feedback{% endblock %}

{% block body %}
    <h1>Welcome to the Lesson:feedback page</h1>
    <div class="row">
        <div class="col-xs-12">
            <h3>
                Feedback for {{ lesson.purchase.language }} lesson with {{ lesson.purchase.teacher.fullName }}
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'LessonBundle:Form:feedback.html.twig' %}
        </div>
    </div>
{% endblock %}